node_modules/
unpackage/
.hbuilderx/

dist/
build/
.cache/
coverage/

*.log
*.tmp
*.swp
*.swo
*.pid

.DS_Store
Thumbs.db

.idea/
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.local
*.bak
